#hhh{
    font-size:80px;color:white;
}
body{
    background-color: deepskyblue;
    font-family: 微软雅黑 ;
    font-size: 55px;
    color: white;
}
#hx{
    position: absolute;
    top: 200px;
    width: 100%;

}
h1{
    font-size: 30px;
    width: 100%;
    position: absolute;
    text-align: center;

}
p{
    font-size: 30px;
    width: 100%;
    position: absolute;
    text-align: center;

}
@keyframes myf {
    0% {opacity: 0%;}
    25%{opacity: 100%;}
    50%{opacity: 0}
    75%{opacity: 0%}
    100%{opacity: 0%}
}
@keyframes mys {
    0% {opacity: 0%;}
    25%{opacity: 0;}
    50%{opacity: 0}
    75%{opacity: 100%}
    100%{opacity: 0%}
}
#el1{
    animation: myf  7s infinite;
}
#el2 {
    animation: mys 7s infinite;
 }